body {
  background: #f7f5f5;
  width: 1440px;
  font-family: 'Poppins', sans-serif;
}

.header__container {
  height: 175px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__img {
  height: 51px;
  width: 180px;
  margin: 85px 0 38px 80px;
}

.menu__list {
  list-style : none;
  width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 102px;
  margin-left: 510px;
  padding: 0;
}

.menu__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 17.1613px;
  line-height: 21px;
  color: #000;
}

button {
  height: 60px;
  width: 250px;
  background: #000;
  border-radius: 5px;
  font-weight: 600;
  font-size: 22px;
  color: #FFFFFF;
}

.header_btn {
  height: 50px;
  width: 182px;
  background: #75BF7A;
  font-size: 18px;
  border: 0;
  margin: 87px 80px 0 47px;
  font-weight: 500;
}

.section__download_app {
  height: 815px;
  display: flex;
flex-direction: column;
  justify-content: space-between;
}

.download_app_content {
  position: relative;
  width: 550px;
  margin: 180px 0 0 80px;
}

.download_app_img {
  position: absolute;
  margin: 55px 0 0 740px;
}

h1 {
  font-weight: 800px;
  font-size: 53px;
  line-height: 65px;
  font-weight: bold;
  margin: 0;
}

.download_app_content_text {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #9E9DA2;
  margin-top: 27px;
}

.download_btn_group {
  margin-top: 62px;
  display: flex;
  justify-content: space-between;
}

.download_app_btn_right {
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download_app_btn_left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_text{
  padding-left: 10px;
}

.section__apply_form {
  width: 1280px;
  height: 166px;
  margin-left: 80px;
  background-color: #75BF7A;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
}

.apply_form_text {
  width: 246px;
  height: 56;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  margin: 55px 0 0 70px;
}

.apply_form {
  width: 780;
  height: 60px;
  display: inline-flex;
  border: 0;
  margin: 50px 0 0 122px;
}

.input_text {
  width: 495px;
  color:#DADADA;
  border-radius: 5px;
  border: 0;
  padding-left: 35px;
  font-size: 16px;
}


.apply_form_btn {
  margin-left: 11px;
  font-size: 18px;
}

